/* Tela grande */
@media (min-width: 768px) {
	
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}
.navbar-brand {
	padding-top:  6px;
}

.col-sm-1 {
    width: 4.5%;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

.panel-default-uniOrg {
	width: 70%;
	margin: 0px auto;
}

.cor-destaque {
	color: blue;
}

#alinha-logo {
	margin-top: 20px;
	
}

#exibe-a-direita {
	float: right;
}

.table { 
	display: table; 
	text-align: center;
}

.row1 { 
	display: table-row; 
}
.cell { 
	display: table-cell; 
	vertical-align: middle;
	float: left;
	padding-left: 10px;
}
h1 {
	color: blue;
	
}
h2 { 
	margin-left:  500px;
}