<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar navbar-default">
<!--		<div class="container-fluid">  -->
<!--  			<div class="navbar-header">  -->
<!-- 				<a class="navbar-brand" href="#">  -->
			<div class="table">
				<div class="row1">
					<div class="cell">
						<img  id="alinha-logo" alt="Ctex" th:src="@{/images/distintivo_ctex_mini.gif}" />
					</div>
					<div class="cell">
						<h1>CTEx</h1>
					</div>
					<div class="cell">
						<h2>Controle de Computadores</h2>
					</div>
				</div>
			</div>	
<!--  				</a>  -->
<!--  			</div>  -->
<!--  		</div>  -->
	</nav>
</html>
<!--  
id="exibe-a-direita"
-->