<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" id="exibicaoComputador" tabindex="-1" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<form>
			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title cor-destaque">Dados Completos</h4>
				</div>
				
				<div class="modal-body">
					<label>Id do Computador: </label>
					<label class="cor-destaque" id="idComputador"></label>
					<br/>
					<label>Nome/código do Computador: </label>
					<label class="cor-destaque" id="nomeCodigo"></label>
					<br/>
					<label>Sigla da Unidade: </label>
					<label class="cor-destaque" id="siglaUnidade"></label>
					<br/>
					<label>Usuário do Computador: </label>
					<label class="cor-destaque" id="usuario"></label>
					<br/>
					<label>IP do Computador: </label>
					<label class="cor-destaque" id="numIp"></label>
					<br/>
					<label>Placa Mãe: </label>
					<label class="cor-destaque" id="placaMae"></label>
					<br/>
					<label>Processador: </label>
					<label class="cor-destaque" id="processador"></label>
					<br/>
					<label>Memoria RAM: </label>
					<label class="cor-destaque" id="memoriaRam"></label>
					<br/>
					<label>Disco Rígido: </label>
					<label class="cor-destaque" id="hd"></label>
					<br/>
					<label>Tipo do Computador: </label>
					<label class="cor-destaque" id="tipoComp"></label>
					<br/>
					<label>Sistema Operacional: </label>
					<label class="cor-destaque" id="sistOper"></label>
					<br/>
					<label>Técnico: </label>
					<label class="cor-destaque" id="tecnico"></label>
					<br/>
					<label>Data de Cadastro: </label>
					<label class="cor-destaque" id="dataCadastro"></label>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-link cor-destaque" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</form>
	</div>
</div>
	
</html>