<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Tela de Login</title>
</head>

<section layout:fragment="conteudo">
	<div class="container">
		<form class="form-horizontal" method="POST"
			th:action="@{/cadastroComputador/validaLogin}" th:object="${usuario}">

 			<div layout:include="MensagemErro"></div>  

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Tela de Login</h1>
					</div>
				</div>

				<div class="input-group afasta-do-topo"
					th:classappend="${#fields.hasErrors('login')} ? has-error">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input
						id="inputLoginDanger" type="text"
						class="form-control form-control-danger" name="login"
						placeholder="Login" th:field="*{login}" />
				</div>
				<div class="input-group afasta-do-topo"
					th:classappend="${#fields.hasErrors('senha')} ? has-error">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> <input id="inputSenhaDanger"
						type="password" class="form-control form-control-danger"
						name="senha" placeholder="senha" th:field="*{senha}" />
				</div>
				<div class="input-group afasta-do-topo">
					<button type="submit"
						class="btn btn-default btn-lg active afasta-ao-redor">Enviar</button>
				</div>
			</div>
		</form>
	</div>
</section>

</html>