<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Pesquisa de Unidade Organizacional</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default panel-default-uniOrg">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de Unidade
					Organizacional</h1>
				<a class="btn btn-link aw-link-panel"
					th:href="@{/unidadeOrganizacional/novo}">Nova Unidade Organizacional</a>
			</div>
		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:action="@{/unidadeOrganizacional}" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Qual sigla de Unidade você está procurando?"
	   							autofocus="autofocus" th:field="*{siglaUnidade}"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-2">Sigla</th>
							<th class="text-center col-md-6">Nome</th>
							<th class="text-center col-md-2">Ramal</th>
							<th class="text-center col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="uniOrg : ${todasUnidades}">
							<td class="text-center" th:text="${uniOrg.idUnidade}">1</td>
							<td class="text-center" th:text="${uniOrg.siglaUnidade}"></td>
							<td th:text="${uniOrg.nomeUnidade}"></td>
							<td class="text-center" th:text="${uniOrg.ramalUnidade}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/unidadeOrganizacional/{codUnidade}(codUnidade=${uniOrg.idUnidade})}"
								title="Editar" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoUnidade"
									th:attr="data-id=${uniOrg.idUnidade}, data-nomeUnidade=${uniOrg.nomeUnidade}"
									title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
						   		</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(todasUnidades)}">Nenhuma
								Unidade foi encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div layout:include="DialogoConfirmacaoExclusaoUnidade"></div>   
		
	</div>
</section>

</html>